*{
    font-family: Verdana;

}

body{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 10px 7px;
    margin:0;
    line-height: 25px;
    
}

.comment-box{
    width:845px;
    padding: 15px; 
    margin-bottom: 4px;
    background-color:#f1f1f1;
    border-radius:4px;
}

.summary{
    display:flex;
    justify-content: space-between;
}

.footer{
    display:flex;
    justify-content:center;
    background-color: black;
    color: white;
    padding: 10px 10px 7px;
    margin:0;
    line-height: 25px;

}

/* Left side datasummary div and subdivs*/

.datasummary{
    display: flex;
    flex-direction: column;
    background-color: #efefefff;
    margin:20px 20px 10px 20px;
    border-radius: 10px;
    width:45%;
    padding: 10px;
    overflow:hidden;

}

.data{
    display:flex;
}

.datatable{
    display:flex;
    align-items: center;
    margin:10px;
    width: 300px;
    border-radius: 10px;
    
}

/* pivottable styling*/
.pivottable{
    vertical-align: middle;
    border-spacing:0;
    border-collapse: separate;
    margin: 10px;
    width:169px;
}
.pivottable tr td{
    font-size: 14px;
    padding: 10px;

}

.pivottable th{
    font-weight:normal;
    padding: 10px 12px 10px;
}

/* right side methods */
.methods{
    width: 50%;
    margin: 20px 20px 10px 20px;
    padding: 10px;
}

.desc{
    text-align: center;
}

.desc a{
    text-decoration: none;
    color:rgb(123, 123, 123);
    background-color: transparent;
        
}

/* Promisetable styling*/
.promises{
    margin: 10px;
}
.promisetable{
    border-spacing:0;
    border-collapse: separate;
    margin: 10px;
}
.promisetable tr td{
    font-size: 14px;
    padding: 7px;
}

.promisetable th{
    font-size: 15px;
    padding: 7px;
    background-color: #efefefff;
}

/* top-left border-radius */
 table tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  /* pivot table*/

  .pivottable tr:first-of-type {
    border-top-left-radius: 10px;
  }

  .pivottable tr:first-of-type td:first-of-type {
    border-top-right-radius:10px;
  }

  .pivottable tr:last-child th:first-child {
    border-bottom-left-radius: 10px;}

.pivottable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

/* Editable table */
#entrybutton{
    display: flex;
    justify-content:end;
    padding:0px 0px 0px 0px;
}

#entrybutton button{
    width: 10%;
    background-color: #efefefff;
    color: black;
    padding: 10px 10px;
    margin: 0px 20px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: inset;
}

#entrybutton button:hover {
    background-color: rgb(244, 243, 243)
  }



/* Loginpage */

#formblank{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginform{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #f7f5f5;
    padding:20px;
    border-radius: 10px;
    box-shadow: 1px 1px #ccccccff;
}

#loginform input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #loginform input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #loginform button[type=submit] {
    width: 100%;
    background-color: #8ca981;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #loginform button[type=submit]:hover {
    background-color: #c0d7b8;
  }

  /* promise-edit.php */

  .adminform{
    display: flex;
    justify-content: center;
    padding:5px 20px;
  }


  .adminform input[type=text]{
    width: 100%;
    height:10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .adminform textarea{
    width: 100%;
    height:20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .adminform input[type=date]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .adminform input[type=submit]{
    width: 100%;
    background-color: #8ca981;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .adminform input[type=submit]:hover {
    background-color: #c0d7b8;
  }
  
  /* Promise Page*/

  #promise-category{
    text-align: center;
    padding:5px;
    margin:20px 10px 0px 10px;
    font-weight: bold;
  }

  #promise-title{
    padding:15px;
    margin:10px;
    text-align:center;
  }

  #promise-facts{
    margin:10px;
    font-weight: bold;
  }

  .promise-echo{
    font-weight: normal;
  }

  #commenttext{
    margin:10px;
  }

  #commenttext input[type=text]{
    width: 38%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #commenttext textarea{
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #commenttext button[type=submit] {
    width: 10%;
    height: 10%;
    background-color: #efefefff;
    color: black;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px rgb(193, 193, 193);
  }
  
  #commenttext button[type=submit]:hover {
    background-color: rgb(244, 243, 243);
  }

/* edit promise */

/* #addblank{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addform{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #f7f5f5;
    padding:20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px #ccccccff;
}

#addform > * {
    margin: 10px 0;
} */